.re-top-wrap h3{
	margin-top:1rem; 
}
.re-top-wrap h3, .re-top-wrap h4{
	font-weight:bold;
}
.re-top-wrap label{
	margin-left:10px;
}
.re-top-wrap .form-component span{
	margin-left:4px;
}
.re-wait{
	cursor:wait;
}
.re-legendWrap{
	padding-left:10px; flex:1;
}
.re-legendRow{
	display:flex;
}
.re-legendBox{
	margin-right:4px; margin-top:2px; width:16px; height:16px; border-radius:50%; border:1pt solid #7F7F7F;
}
.re-legendDropShadow{
	padding:8px 6px 6px 10px; background:#fbfbfb; box-sizing:border-box; border:1px solid #ddd; box-shadow:1px 1px 1px 0px rgba(0, 0, 0, 0.4) inset;
}
.re-pcaLegend{
	display:none;
}